{% load i18n %}
{% load l10n %}

<div class="th_tooltip">
  <div class="th_sel_text" type="text"></div>
  <button type="button" class="th_add_btn">Add To Answer</button>
</div>

<div class="th_tooltip_limitation">
  Please remove at least one chosen variant to add new selection
</div>

<div class="th_text_highlighter th_description">{{ description|safe }}</div>
<div class="th_text_highlighter th_text_main_block th-text">{{ text|safe }}</div>
<div class="th_text_highlighter th-selected-blocks"
     data-selected-texts="{{ selected_texts_json }}"
     data-answers-num="{{ correct_answers_num }}"
     data-display-correct-answers-after-response="{{ display_correct_answers_after_response }}"
     data-is-studio-view="{{ is_studio_view }}">
{% if selected_texts %}
<div>Your answers:</div>
<div>{{ selected_texts }}</div>
{% if display_correct_answers_after_response %}
<br />
<div>Correct answers:</div>
<div>{{ correct_answers_texts }}</div>
{% endif %}
<br />
<div>Your grade: <strong>{{ user_correct_answers_num }} / {{ correct_answers_total_num }}</strong></div>
{% endif %}
</div>
<div class="th_submission_error"></div>
<button type="button" class="submit th-btn-submit th_submit_selection" disabled="disabled">
  <span class="submit-label">{% if selected_texts %}Submitted{% else %}Submit{% endif %}</span>
</button>
